/*Scroll Bar*/

::-webkit-scrollbar{
    width: 5px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: #ffffff4b;
  }
  
  ::-webkit-scrollbar-thumb{
    background: rgb(255, 0, 0);
    border-radius: 8px;
  }
  
  
  /*General*/
  body {
    font-family: "Open Sans", sans-serif;
    
  }
  
  a {
    text-decoration: none;
    color: #d9232d;
  }
  
  a:hover {
    color: #e24d55;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  /*--------------------------------------------------------------
# header-purchase
--------------------------------------------------------------*/
#header-purchase {
    background: white;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  
  #header-purchase.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
  
  #header-purchase.header-inner-pages {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header-purchase .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #header-purchase .logo a:hover {
   color: rgb(255, 0, 0);
  }
  
  #header-purchase .logo a {
    color: #556270;
  }
  
  #header-purchase .logo img {
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #556270;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #d9232d;
   
  }
  
  .navbar .getstarted {
    background: #d9232d;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #e1444d;
    
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #d9232d;
   
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #556270;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(63, 73, 83, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #556270;
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #d9232d;
  }
  
  .navbar-mobile .getstarted {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #d9232d;
  }
  
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#ad {
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(255, 0, 0);
    background: #b5d1ec;
   
}
.contact-form{
  background: rgb(307 342 207);
  margin-top: 75px;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
    margin-bottom: 10px;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 50%;
    margin-top: 3%;
   
}
.contact-form form{
    padding: 14%;
   
}
.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form{
    box-shadow: 10px 15px 5px #556270;
}
.contact-form h2{
    margin-bottom: 1%;
    margin-top: -10%;
    text-align: center;
    color: rgb(13, 28, 240);
}

.contact-form p{
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}
.contact-form .btnSendPost {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.btnSend{
  text-align: center;
}

@media(max-width: 679px){
    .contact-form h2{
        margin-bottom: 5%;
        text-align: center;
        color: #0062cc;
        font-size: 20px;
    }
    .contact-form p{
        margin-bottom: 5%;
        text-align: center;
        color: #030303;
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
# Contact END
--------------------------------------------------------------*/

form{
    padding: 0;
}
/*--------------------------------------------------------------
# POSTS
--------------------------------------------------------------*/
#posts .no-posts{
    font-size: 40px;
    color: #8a9792;
  
}





/*--------------------------------------------------------------
# POSTS END
--------------------------------------------------------------*/













/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.credits{
    background-color: rgb(68, 65, 65);
    color: #fff;
    font-weight: 900;
  }
  .social-links {
   
    padding: 10px;
  }
  .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2f4d5a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .social-links a:hover {
    background: #67b0d1;
    color: #fff;
    text-decoration: none;
  }
  
  footer{
    padding-top: 10px;
    background: rgb(78, 78, 78);
  }
  
  .privacy{
    text-align: center;
   
    padding: 10px;
  }
  
  .privacy a{
    color: #fff;
    padding: 5px;
   
  }
  .privacy a:hover{
    
    text-decoration: underline;
  }