/*Scroll Bar*/

::-webkit-scrollbar{
    width: 5px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: #ffffff4b;
  }
  
  ::-webkit-scrollbar-thumb{
    background: rgb(255, 0, 0);
    border-radius: 8px;
  }
  
  
  /*General*/
  body {
    font-family: "Open Sans", sans-serif;
    
  }
  
  a {
    text-decoration: none;
    color: #d9232d;
  }
  
  a:hover {
    color: #e24d55;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  /*--------------------------------------------------------------
# header-purchase
--------------------------------------------------------------*/
#header-purchase {
    background: white;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  
  #header-purchase.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
  
  #header-purchase.header-inner-pages {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header-purchase .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #header-purchase .logo a:hover {
   color: rgb(255, 0, 0);
  }
  
  #header-purchase .logo a {
    color: #556270;
  }
  
  #header-purchase .logo img {
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #556270;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #d9232d;
   
  }
  
  .navbar .getstarted {
    background: #d9232d;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
  }
  
  .navbar .getstarted:hover {
    color: #fff;
    background: #e1444d;
    
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #d9232d;
   
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #556270;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(63, 73, 83, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #556270;
  }
  
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #d9232d;
  }
  
  .navbar-mobile .getstarted {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #d9232d;
  }
  
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#ad {
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(255, 0, 0);
    background: #b5d1ec;
   
}
.contact-form{
  background: rgb(307 342 207);
  margin-top: 75px;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
    margin-bottom: 10px;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 50%;
    margin-top: 3%;
   
}
.contact-form form{
    padding: 14%;
   
}
.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form{
    box-shadow: 10px 15px 5px #556270;
}
.contact-form h2{
    margin-bottom: 1%;
    margin-top: -10%;
    text-align: center;
    color: rgb(13, 28, 240);
}

.contact-form p{
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}
.contact-form .btnSendPost {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.btnSend{
  text-align: center;
}

@media(max-width: 679px){
    .contact-form h2{
        margin-bottom: 5%;
        text-align: center;
        color: #0062cc;
        font-size: 20px;
    }
    .contact-form p{
        margin-bottom: 5%;
        text-align: center;
        color: #030303;
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
# Contact END
--------------------------------------------------------------*/

form{
    padding: 0;
}
/*--------------------------------------------------------------
# POSTS
--------------------------------------------------------------*/
/* #posts .no-posts{
    font-size: 40px;
    color: #8a9792;
  
} */



/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
#schedule {
  padding: 60px 0 60px 0;
}

#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

#schedule .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 10px 100px;
}

@media (max-width: 991px) {
  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
  }
}

#schedule .nav-tabs a.active {
  background-color: #f82249;
  color: #fff;
}

#schedule .sub-heading {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}

#schedule .section-header h2{
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
}

#schedule .tab-pane {
  transition: ease-in-out .2s;
}

#schedule .schedule-item {
  border-bottom: 1px solid #cad4f6;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color ease-in-out 0.3s;
}


#schedule .schedule-item:hover {
  background-color: rgba(226, 226, 226, 0.274);
}

#schedule .schedule-item time {
  padding-bottom: 5px;
  display: inline-block;
}

#schedule .schedule-item .speaker {
  width: 290px;
  height: 249px;
  overflow: hidden;
  border-radius: 10%;
  float: left;
  margin: 0px 35px 10px 0;
}

@media (max-width: 468px){
  #schedule .schedule-item .speaker {
        width: 290px;
        height: 249px;
        overflow: hidden;
        border-radius: 10%;
        margin: 0 auto;
        float: none;
        
    }

    #schedule .schedule-item h4{
     
      margin-top: 25px;
      
    }

    
    #schedule .schedule-item h5{
     
      text-align: center;
      
    }

    #schedule .schedule-item h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
      text-align: center;
    }

    #schedule .schedule-item p {
      
      text-align: center;
    }

    #schedule .col-md-2{
      text-align: center;
    }
}


#schedule .schedule-item .speaker img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}

#schedule .schedule-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  
}

#schedule .schedule-item h4 span {
  font-style: italic;
  color: #19328e;
  font-weight: normal;
  font-size: 16px;
}

#schedule .schedule-item p {
  font-style: italic;
  color: #152b79;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# POSTS END
--------------------------------------------------------------*/






/***** MODAL CONTACT *****/

.modal-content {
  border-radius: 0px;
}

.modal-header {
  background: #bdbdbd;
  color: white;
}

.modal-header h4 {
  font-weight: 700;
}

.modal-body {
  background: #f2f2f2;
  font-family: "Lato";
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.modal-header .close{
  margin-top: -2px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.modal-footer {
  background: #f2f2f2;
  margin-top: 0px;
}







